.contact_table{
	border-style: solid;
	background-color:lightblue;
}
ul{
	list-style-type:none;
}
form{
	
}
body{
	
}
input{
	
}
.submit_button{
	background-color:lightgreen;
	color:white;
	border:none;
}
.message_form{
	
	
	
}