<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="contact_table">
		<table>
			<tr>
				<td>
					<ul>
						<li><span class="glyphicon glyphicon-earphone"></span></li>
						<li>Phone</li>
						<li th:text="${contact.getPhone()}"></li>
					</ul>
				</td>

				<td>
					<ul>
						<li><span class="glyphicon glyphicon-pushpin"></span></li>
						<li>Address</li>
						<li>19 Cong Hoa , Tphcm</li>
					</ul>
				</td>

				<td>
					<ul>
						<li><span class="glyphicon glyphicon-dashboard"></span></li>
						
						<li>Open Time</li>
						<li>10:00 am to 23:00 pm</li>
					</ul>
				</td>

				<td>
					<ul>
						<li><span class="glyphicon glyphicon-send"></span></li>
						
						<li>Email</li>
						<li>hello@gmail.com</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</body>


<div>
<b>Leave Message</b>
<form  style="margin-top:5px;"action="">

 <input type="text" id="fname" name="fname" placeholder="Your name">
 
 <input type="text" id="femail" name="femail" placeholder="Your email"><br>

 <input style="margin-top:10px;" id="fmessage" name="fmessage" placeholder="Your message"><br>
 
 <input style="margin-top:50px;" class="btn btn-success" type="submit" value="SEND MESSAGE">
</form>



</div>

<style>
.contact_table{
	border-style: solid;
	background-color:lightblue;
}
ul{
	list-style-type:none;
}
form{
	
}
body{
	
}
input{
	border-style: solid;
	weight:300px;
	height:30px;
}
.submit_button{
	background-color:lightgreen;
	color:white;
	border:none;
}
.message_form{
	
	
	
}


</style>

</html>